*{
    box-sizing: border-box;
}

html,
body{
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1230px){
    .container{
        max-width: 960px;
    }

}

@media (max-width: 991px){
    .container{
        max-width: 730px;
    }

}

@media (max-width: 767px){
    .container{
        max-width: 560px;
    }

}

/* Header */
.site-header{
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav{
    display: flex;
    align-items: center;
    gap: 45px;
}

.site-nav-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: right;    
    text-decoration: none;
    color: #0F2137;
}

.site-nav-link:last-child{
    font-weight: 700;
    color: #28DCB2;
}

@media(max-width:760px){
    .site-header-inner{
        flex-direction: column;
        gap: 20px;
    }
    .site-nav{
        gap: 20px;
    }
}
/* Header end*/

/* Block Hero*/
.block-hero{
    padding-top: 100px;
    padding-bottom: 100px;
}

.block-hero-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.block-hero-content{
    flex:0 1 505px;
}

.block-hero-content h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: left;
    color: #02073E
}

.block-hero-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 45px;
    

}

.link{
    padding: 25px 30px;
    border-radius: 6px;
    background-color: #28DDB2;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}
.block-hero-title{
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    margin: 0;
}

.block-hero-text{
    font-size: 18px;
    line-height: px;
    font-weight: 700;
    margin: 0;
}

.block-hero-img{
    flex: 0 1 505px;
}

.block-hero-img img {
    width: 100%;
}

@media (max-width: 991px) {
    .block-hero-content,
    .block-hero-img {
        flex: 0 1 50%;
        max-width: 50%;
    }
    .block-hero-content h1{
        font-size: 40px;
    }
}
/* Block Hero middle start*/
.block-hero-middle{
    padding-top: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block-hero-middle h2{
    height: 30px;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #02073E;
}

.block-hero-middle p{
    width: 585px;
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;

}
.feauture-p{
}
.block-hero-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-top: 30px;
}

.arrow p{
    font-family: 'DM Sans' ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.lamp p{
    font-family: 'DM Sans' ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.rocket p{
    font-family: 'DM Sans' ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.trophy p{
    font-family: 'DM Sans' ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

/*status start*/
.status{
    height: 960px;
    padding: 0 200px;
    display: flex;
    justify-content: center;
    background-color: #F9FAFC;
    
}

.status-inner{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
}

.status-inner-number1{
    height: 320px;
    width: 300px;
    background-color: #ffffff;
    margin-top: 105px;
}

.status-inner-number2{
    height: 320px;
    width: 300px;
    background-color: #ffffff;
    margin-top: 105px;
}

.status-inner-number3{
    height: 320px;
    width: 300px;
    background-color: #ffffff;
    margin-bottom: 170px;
}

.status-inner-number4{
    height: 320px;
    width: 300px;
    background-color: #ffffff;
    margin-bottom: 170px;
}


/*status end*/
/* Block Hero middle start*/
/* Block Hero end*/






